[Unit]
Description=Grafana Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start grafana
ExecStop=/usr/bin/docker stop -t 5 grafana

[Install]
WantedBy=multi-user.target
